includes:
  - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
  level: 3
  paths:
    - src
    - tests

  # Symfony-spezifisch
  symfony:
    containerXmlPath: var/cache/test/App_KernelTestDebugContainer.xml

  # Für den Anfang nicht zu streng
  treatPhpDocTypesAsCertain: false
